.component-parent {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 540px;
  color: black;
  padding-bottom: 20px;
  font-family: "IBM Plex Sans";
}
:root {
  --gray-text: #b3b3b3;
}

.session-date {
  margin-top: 10px;
}
.session-header {
  font-size: 52px;
  font-weight: 600;
  line-height: 47px;
}
.accent-text {
  font-size: 13px;
  color: black;
  opacity: 0.5;
}
.auction-number {
  font-size: 26px;
  font-weight: 700;
  line-height: 24px;
}
.auction-secondary-element {
  font-size: 13px;
  font-weight: 600;
}
.time-remaining {
  padding-left: 18px;
}
.auction-info-row {
  margin-top: 20px;
}

.bid-element {
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 30px;
  max-width: 380px;
  background: rgb(255, 255, 255, 0.75);
}

.bid-content {
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 18px;
  padding-right: 20px;
  position: relative;
}
.minimum-bid {
  margin-top: 24px;
  margin-bottom: 2px;
}
.action-element {
  margin-left: 4px;
}
.bid-action {
  width: 100%;
  height: 32px;
  margin-bottom: 40px;
}
.bid-input-parent {
  position: relative;
}
.bid-input {
  width: 75%;
  background: white;
  border: none;
  box-shadow: 0px 3px 9px rgb(0, 0, 0, 0.07);
}
.bid-input:focus {
  outline: 1.5px solid black;
}
.sol-bid-label {
  position: absolute;
  right: 27%;
  top: 5px;
  z-index: 100;
  font-size: 11px;
  font-weight: 600;
}
.bid-button {
  margin-left: 8px;
  width: 20%;
  background-color: #293eff;
  box-shadow: 0px 3px 9px rgb(0, 0, 0, 0.1);
  border: none;
  color: white;
  font-weight: 800;
}
.bid-leader {
  background-color: rgb(0, 0, 0, 0.07);
  height: 30px;
  width: 97%;
  margin-top: 9px;
  padding-left: 8px;
  padding-right: -8px;
  line-height: 30px;
}
.expandable-bid {
  position: absolute;
  top: 7px;
  right: 11px;
}
.chev-up {
  transform: rotate(180deg);
}
.collapsed-auction:hover {
  cursor: pointer;
}
.session-nav-button {
  font-size: 34px;
  line-height: 54px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 32px;
}
.session-nav-button.left {
  margin-left: 22px;
  padding: 0px;
}
.session-nav-button.right {
  padding: 0px;
}
.dead-button {
  opacity: 0.4;
}
.wrap-session {
  width: 99%;
  height: 32px;
  background-color: #1000ea;
  border: none;
  color: white;
  font-weight: 800;
  font-family: "Ubuntu Mono";
}
.friend-card-mint {
  color: rgb(0, 0, 0, 0.4);
}
.friend-card-mint:hover {
  color: #1000ea;
}
.member-greeting {
  font-weight: 500;
}
.post-input {
  background-color: rgb(0, 0, 0, 0);
  border: 2px solid #ffffff;
  margin-top: 7px;
  padding: 7px;
}
.post-input::placeholder {
  color: rgb(0, 0, 0, 0.4);
}
.post-input:focus {
  outline: none !important;
  border-color: black;
}
.post-input.body {
  height: 70px;
  width: 100%;
}
.post-input.link {
  margin-top: 2px;
  height: 34px;
  width: 100%;
}
.forum-button {
  font-family: "Ubuntu Mono";
}
.forum-button.post {
  margin-top: 7px;
  margin-right: 2px;
  margin-left: auto;
  display: block;
  width: 66px;
  height: 30px;
  color: white;
  font-weight: 700;
  border: none;
  font-size: 16px;
}
.forum-button.post.active {
  background-color: black;
  box-shadow: 0px 2px 9px rgb(0, 0, 0, 0.22);
}
.forum-button.post.dead {
  background-color: rgb(0, 0, 0, 0.4);
  box-shadow: 0px 2px 7px rgb(0, 0, 0, 0.11);
}
.your-activity {
  background-color: rgb(0, 0, 0, 0);
  text-decoration: underline;
  color: black;
  border: none;
}
.posts-header {
  margin-top: 80px;
  padding-bottom: 26px;
}
.posts-header-title {
  font-size: 16px;
  font-weight: 700;
  color: black;
  float: left;
}
.sort-button {
  float: right;
  background-color: rgb(0, 0, 0, 0);
  border: none;
  font-size: 13px;
  font-weight: 600;
  padding-top: 2px;
}
.sort-button:hover {
  background-color: rgb(255, 255, 255, 0.55);
}
.sort-button.top {
  float: right;
}
.sort-button.recent {
  float: right;
}
.sort-button.active {
  color: rgb(0, 0, 0);
}
.sort-button.inactive {
  color: rgb(0, 0, 0, 0.4);
}
.push-greeting {
  color: rgb(0, 0, 0, 0.4);
  font-size: 13px;
}
.connect-alert {
  color: rgb(0, 0, 0, 0.4);
  font-size: 13px;
  padding-bottom: 4px;
  margin-left: 6px;
}
.connect-button-parent {
  height: 35px;
  width: 100%;
  font-weight: 800;
  border-radius: 5px;
  box-shadow: 0px 3px 9px rgb(0, 0, 0, 0.15);
}
.mint-membership-button {
  background-color: #1000ea;
  font-family: "Ubuntu Mono";
  color: white;
  border: none;
  height: 35px;
  width: 100%;
  font-weight: 800;
  border-radius: 5px;
  box-shadow: 0px 3px 9px rgba(12, 7, 255, 0.12);
}
.post-outer {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 14px 16px;
  background-color: rgb(255, 255, 255, 0.75);
  position: relative;
}
.forum-outer {
  margin-bottom: 100px;
}
.dot-time {
  color: rgb(0, 0, 0, 0.4);
}
.poster-card {
  color: black;
  font-weight: 500;
  text-decoration: none;
}
.post-body {
  margin-top: 7px;
}
.post-link {
  margin-top: 0px;
  max-width: 85%;
  overflow: hidden;
}
.like-icon {
  width: 17px;
}
.like-button {
  background-color: rgb(0, 0, 0, 0);
  border: none;
  height: 30px;
  font-weight: 500;
  line-height: 26px;
  font-size: 16px;
  color: #000000;
  width: 60px;
  margin-top: 9px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.like-button:hover {
  background-color: rgb(0, 0, 0, 0.12);
}
.likes-remaining {
  color: rgb(0, 0, 0, 0.4);
  font-weight: 500;
  font-size: 13px;
}
.about {
  background-color: white;
  border: none;
  text-decoration: underline;
}
