@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Inconsolata:wght@400;500;600;700;800&family=Ubuntu+Mono:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "IBM Plex Sans", BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ff8ba0 !important;
  background: linear-gradient(#ff8ba0, #ffde85);
}

.modal-wrapper {
  background: #ffafbe;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  z-index: -1;
}
@media (min-width: 320px) {
  .modal-wrapper {
    background: radial-gradient(
      110% 60% at 70% 90%,
      #7adeff 0%,
      #b6f4b6 45%,
      #ffde85 80%,
      rgb(255, 222, 133, 0) 150%
    );
  }
}
@media only screen and (min-width: 641px) {
  .modal-wrapper {
    background: radial-gradient(
      43% 94% at 50% 56%,
      #7adeff 0%,
      #b6f4b6 45%,
      #ffde85 80%,
      rgb(255, 222, 133, 0) 130%
    );
  }
}
/* .modal-wrapper {
  background: radial-gradient(
    43% 94% at 50% 56%,
    #7ae9ff 0%,
    #b6f4b6 45%,
    #ffe396 80%,
    rgb(255, 225, 168, 0) 100%
  );
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
