@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Inconsolata:wght@400;500;600;700;800&family=Ubuntu+Mono:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "IBM Plex Sans", BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffc7ca !important;
  background: linear-gradient(#ffc7ca, #ffe1a8);
}

.modal-wrapper {
  background: #ffc7ca;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  z-index: -1;
}
@media (min-width: 320px) {
  .modal-wrapper {
    background: radial-gradient(
      110% 60% at 70% 90%,
      #b1e5ff 0%,
      #c6e9c6 45%,
      #ffe1a8 80%,
      transparent 100%
    );
  }
}
@media only screen and (min-width: 641px) {
  .modal-wrapper {
    background: radial-gradient(
      43% 94% at 50% 56%,
      #b1e5ff 0%,
      #c6e9c6 45%,
      #ffe1a8 80%,
      transparent 100%
    );
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
