svg {
  font-family: "IBM Plex Sans";
  font-weight: 700;
  font-size: 22px;
  width: 35px;
  height: 35px;
}

text {
  fill: #fffb26;
  stroke: #fffb26;
  stroke-width: 7px;
  stroke-linejoin: miter;
}
.ytop {
  font-weight: 800;
  fill: black;
  stroke: black;
  stroke-width: 0.5px;
  stroke-linejoin: round;
}
.prh-link {
  padding-left: 4px;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  text-decoration-line: underline;
  color: #0400ff;
}
.prh-link:hover {
  color: #0400ff;
}
.prh-link:visited {
  color: #0400ff;
}
